html, body, button {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.message-box {}

.message-box__send__recipient {
  display: block;
  margin: 12px 0;
  font-size: 16px;
}

.message-box__send__message {
  display: block;
  margin: 12px 0;
  font-size: 16px;
}
